{% extends 'home.html' %}

{% block title %}Editar Tarefa - TaskFlow{% endblock %}

{% block content %}
<h2 style="text-align: center;">Editar Tarefa</h2>
<form method="POST">
    <input type="text" name="title" value="{{ tarefa.title }}" required>
    <textarea name="description" rows="4">{{ tarefa.description }}</textarea>

    <select name="status" required>
        <option value="pendente" {% if tarefa.status == 'pendente' %}selected{% endif %}>Pendente</option>
        <option value="em andamento" {% if tarefa.status == 'em andamento' %}selected{% endif %}>Em andamento</option>
        <option value="concluída" {% if tarefa.status == 'concluída' %}selected{% endif %}>Concluída</option>
    </select>

    <input type="date" name="due_date" value="{{ tarefa.due_date }}">
    <button class="btregister" type="submit">Salvar Alterações</button>
</form>
{% endblock %}
