<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TaskFlow{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h1>Bem vindo ao TaskFlow!</h1>
        <div>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
                <a href="{{ url_for('auth.logout') }}">Sair</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Entrar</a>
                <a href="{{ url_for('auth.register') }}">Cadastrar-se</a>
            {% endif %}
        </div>
    </nav>

    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>
