* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    font-family: "Cal Sans", sans-serif;
    background: linear-gradient(135deg, #ffffff 0%, #f2f2f2 100%);
    padding: 20px;
    color: #333;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 1.5rem;
}

nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover {
    letter-spacing: 0.01rem;
    transition: 0.5s;
}

main {
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input, select, textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button, .btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
}

button:hover, .btn:hover {
    background-color: #0056b3;
    letter-spacing: 0.01rem;
    transition: 0.5s;
}

ul.tarefas {
    list-style: none;
    margin-top: 20px;
}

ul.tarefas li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-left: 5px solid #007BFF;
}

.flashes {
    margin-bottom: 20px;
    color: green;
}

input[type="text"], input[type="password"] {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.reg {
    text-decoration: none;
    color: black;
}

span {
    color: #007BFF;
    cursor: pointer;
}

.btregister {
    width: 100%;
    font-size: 0.9em;
}

.log {
    text-decoration: none;
    color: black;
}

textarea {
    resize: vertical;
    min-height: 100px;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

select {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: white;
}

.dash {
    text-decoration: none;
    color: #007BFF;
    margin-left: 10px;
}

.btns {
    background-color: red;
    padding: 0.33rem;
}