<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlow - Painel</title>
</head>
<body>

    <h1>Olá {{ current_user.username }}!</h1>

 {% extends 'home.html' %}

{% block title %}Dashboard - TaskFlow{% endblock %}

{% block content %}
    <h2>Minhas Tarefas</h2>

    <form method="get">
        <label>Status:</label>
        <select name="status" onchange="this.form.submit()">
            <option value="">Todos</option>
            <option value="Pendente" {% if status_atual == 'Pendente' %}selected{% endif %}>Pendente</option>
            <option value="Em Andamento" {% if status_atual == 'Em Andamento' %}selected{% endif %}>Em Andamento</option>
            <option value="Concluída" {% if status_atual == 'Concluída' %}selected{% endif %}>Concluída</option>
        </select>
    </form>

    <a href="{{ url_for('main.nova_tarefa') }}" class="btn">Nova Tarefa</a>

    <ul class="tarefas">
    {% for t in tarefas %}
        <li>
            <strong>{{ t.title }}</strong> - {{ t.status }} - {{ t.due_date }}
            <a class="dash" href="{{ url_for('main.editar_tarefa', id=t.id) }}">Editar</a>
            <form action="{{ url_for('main.excluir_tarefa', id=t.id) }}" method="POST">
                <button class="btns" onclick="return confirm('Confirmar exclusão?')">Excluir</button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% endblock %}

</body>
</html>