<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlow - Painel</title>
</head>
<body>

    <h1>Olá {{ current_user.username }}!</h1>
    <h2>Suas Tarefas</h2>

    <a href="{{ url_for('auth.logout') }}">Sair</a>
    <a href="{{ url_for('main.nova_tarefa') }}">Nova Tarefa</a>

    {% if tarefas %}
    <form method="get" action="{{ url_for('main.dashboard') }}">
        <label for="status">Filtrar por Status:</label>
        <select name="status" id="status" onchange="this.form.submit()">
            <option value="">Todos</option>
            <option value="Pendente" {% if status_atual == 'Pendente' %}selected{% endif %}>Pendente</option>
            <option value="Em Andamento" {% if status_atual == 'Em Andamento' %}selected{% endif %}>Em Andamento</option>
            <option value="Concluído" {% if status_atual == 'Concluído' %}selected{% endif %}>Concluído</option>
        </select>
    </form>
        <ul>
            {% for t in tarefas %}
                <li>
                    <strong>{{ t.title }}</strong> - {{ t.status }} - Entrega: {{ t.due_date or "Sem Data" }}
                    <a href="{{ url_for('main.editar_tarefa', id = t.id) }}">Editar</a>
                    <form action="{{ url_for('main.excluir_tarefa', id = t.id) }}" method="POST" style="display: inline;">
                        <button type="submit" onclick="return confirm('Tem certeza?')">Excluir</button>
                    </form>

                </li>
                {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma tarefa encontrada.</p>
    {% endif %}
</body>
</html>