{% extends "home.html" %}

{% block title %}Login - TaskFlow{% endblock %}

{% block content %}
<h2 style="text-align: center;">Login</h2>
<form method="POST">
    <input type="text" name="username" placeholder="Usuário" required>
    <input type="password" name="password" placeholder="Senha" required>
    <button class="btregister" type="submit">Entrar</button>
</form>
<p style="text-align: center;">
    <a class="log" href="{{ url_for('auth.register') }}">Não tem conta? <span>Cadastre-se</span></a>
</p>
{% endblock %}
