{% extends 'home.html' %}

{% block title %}Nova Tarefa - TaskFlow{% endblock %}

{% block content %}
<h2 style="text-align: center;">Nova Tarefa</h2>
<form method="POST">
    <input type="text" name="title" placeholder="Título" required>
    <textarea name="description" placeholder="Descrição" rows="4"></textarea>
    
    <select name="status" required>
        <option value="" disabled selected>Status</option>
        <option value="pendente">Pendente</option>
        <option value="em andamento">Em andamento</option>
        <option value="concluída">Concluída</option>
    </select>

    <input type="date" name="due_date" placeholder="Data de entrega">
    <button class="btregister" type="submit">Criar Tarefa</button>
</form>
{% endblock %}
