{% extends "home.html" %}

{% block title %}Cadastro - TaskFlow{% endblock %}

{% block content %}
<h2 style="text-align: center;">Cadastro</h2>
<form method="POST">
    <input type="text" name="username" placeholder="Usuário" required>
    <input type="password" name="password" placeholder="Senha" required>
    <button class="btregister" type="submit">Cadastrar</button>
</form>
<p style="text-align: center;">
    <a class="reg" href="{{ url_for('auth.login') }}">Já tem conta? <span>Faça login</span></a>
</p>
{% endblock %}
